@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap");
@import "modules/sectionSecond";
@import "modules/sectionThird";
@import "modules/footer";

body {
  display: grid;
  grid-template-columns: 0px 1fr 1fr 1fr 1fr 0px;
  column-gap: 16px;
}
.section-first {
  grid-column: 2 / 6;
  background: white;
  margin-top: 64px;
  margin-bottom: 88px;
}
.blue-text {
  color: #1070ca;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  &__article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 40px;
    &-img {
      display: inline-block;
      background-image: url("../assets/img/kuba.jpg");
      background-size: cover;
      background-position: center;
      width: 178px;
      height: 178px;
      border-radius: 50%;
      margin: 34px 58px 0 58px;
    }
    &-hey {
      display: none;
    }
    &-h1 {
      margin: 0;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;

      text-align: center;

      color: #234361;
    }
    &-p {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
      color: #425a70;
      margin-bottom: 40px;
    }
    &-mail {
      width: 281px;
      height: 48px;
      display: block;
      background: #4da8ff;
      border-radius: 64px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 40px;
      text-decoration: none;
      color: white;
      text-align: center;
    }
  }
}

.mark-before {
  display: none;
}
.mark-after {
  display: none;
}

.substract {
  display: none;
}

@media only screen and (min-width: 980px) {
  body {
    display: grid;
    grid-template-columns: 128px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 128px;
    column-gap: 24px;
  }
  .section-first {
    grid-column: 3 / 13;
  }
  .header {
    height: 100%;
    flex-direction: column;
    align-items: center;
    &__article {
      margin: 0;
      &-img {
      }
      &-hey {
        display: block;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 15px;
        color: #ffffff;
        text-align: center;
      }
      &-cloud {
        width: 225px;
        height: 72px;
        position: relative;
        top: -200px;
        left: 200px;
        background-color: #1070ca;
        border-radius: 16px;
      }
      &-h1 {
        font-size: 32px;
      }
      &-p {
        font-size: 20px;
      }
      &-mail {
      }
    }
  }

  .substract {
    display: block;
    width: 17.42px;
    height: 22.66px;
    position: relative;
    top: -200px;
    left: 120px;
  }

  .wrapIntro {
    display: flex;
    align-items: flex-end;
  }
  .mark-before {
    display: inline;
    height: 100%;
  }
  .mark-after {
    display: inline;
    height: 100%;
  }
  .article-mail {
    margin-bottom: 0;
  }
}
